$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

$i: 'GaramondItalic';

$primary-color: #0098ff;
$primary-darken: #0E4D80;
$primary-darker: #0C406A;
$primary-color-hover: #0D4877;
$primary-title-color: #1976D2;

$primary-color-2: #9B9B9B;

$active-color: #7AB746;

$black-darken: lighten($black, 10%);

$rgba-0-1: rgba(0, 0, 0, 0.1);

$primary-animation: cubic-bezier(0.785, 0.135, 0.15, 0.86);
